{% extends 'base.html.twig' %}

{% block title %}Bar à Beer
{% endblock %}

{% block body %}

	<h1>{{ title }}</h1>

	{% for beer in beers %}
		{% include '/partials/card.html.twig' with [beer] %}
	{% endfor %}

{% endblock %}
