{% extends 'base.html.twig' %}
{% block title %}
	{{ title }}
{% endblock %}
{% block body %}

	<h1>{{ title }}</h1>

	{% for client in clients|sort((a, b) => b.numberBeer <=> a.numberBeer) %}
		{% include '/partials/client_card.html.twig' with [client] %}
	{% endfor %}

{% endblock %}
