{% extends 'base.html.twig' %}

{% block title %}Page {{ category.name | title }}
{% endblock %}

{% block body %}

	<h2>Les bières {{ category.name | title }}</h2>
	{% for beer in beersFromCategory %}
		{% include '/partials/card.html.twig' with {'beer': beer} %}
	{% endfor %}

{% endblock %}
